@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@keyframes user-score {
  0%{
    opacity: 0;
    transform: translateX(-100%);
  }
  100%{
    opacity: 1;
    transform: translateX(0%);
  }
  
}
@keyframes pc-score {
    0%{
    opacity: 0;
    transform: translateX(100%);
  }
  100%{
    opacity: 1;
    transform: translateX(0%);
  }
  
  
}
@keyframes playground {
    0%{
    opacity: 1;
    transform: scale(0);
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
  
}

@keyframes qtnmark {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes buttons {
  0%{
    opacity: 0;
    transform: translateY(100%);

  }
  100%{
    opacity: 1;
    transform: translateY(0%);

  }
  
}

.qtnmark{
  animation:qtnmark 300ms infinite alternate;
  font-weight: bold;
}
@media (min-width:720px) {
  .score-pc {
  border-radius: 10px;
  border: none;
  padding: 0.5em;
  background-color: transparent;
  outline: none;
  border-width: 0;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.6);
  width: clamp(110px, 1rem, 200px);
  grid-column-start: 3;
  grid-column-end: 4;
  animation: pc-score 1.5s;
  
  
}
.score-user {
  border-radius: 10px;
  border: none;
  padding: 0.5em;
  background-color: transparent;
  outline: none;
  border-width: 0;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.6);
  width: clamp(110px, 1rem, 200px);
  grid-column-start: 1;
  grid-column-end: 2;
  animation: user-score 1.5s;
  
}
  span {
  font-weight: lighter;
  text-align: center;
  margin-top: 0.5rem;
}

p {
  line-height: 1.8;
}
.show {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  transition: all(1s);
}
.hide {
  display: none;
  transition: all(1s);
}
.bodyGame {
  display: grid;
  grid-row-gap: 5rem;
  grid-template-columns: 4;
  height: 100vh;
  border-radius: 10px;
  width: clamp(100%, 35%, 60%);
}
.grid-item1 {
  width: clamp(80%, 20%, 70%);
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  margin: auto;
  outline: none;
  border-width: 0;
  box-shadow: 0px 0px 12px 0.05px rgba(0, 0, 0, 0.473);
  max-height: 220px;
  min-height: 220px;
  animation: playground 1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content:center;
}
.grid-item2 {
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
  justify-content: space-evenly;
}
.grid-item3 {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
  justify-content: space-evenly;
}
.grid-item4 {
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: center;
  justify-content: space-evenly;
}
.user-div span {
  display: block;
}
.computer-div span {
  display: block;
}


 

.pc-h1 {
  position: sticky;
}
.user-h1 {
  position: sticky;
}
section {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  margin: 0rem clamp(1rem, 1rem, 1rem);
}


.versus-ver {  
  text-align: center;
  
}

.vs{
  margin-bottom: 12rem;
}
.score-pc,
.score-user,
span {
  display: block;
  font-size: medium;
}
.score-pc,
.score-user,
h1 {
  display: block;
  font-size: larger;
}
.lets-play{
  font-size: 1rem;

}
  
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
img {
  max-width: 70px;
  max-height: 80px;
}
input,
button {
  animation: buttons 3s;
  font-family: inherit;
  border-radius: 10px;
  border: none;
  padding: 0.5em;
  background-color: white;
  outline: none;
  border-width: 0;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.6);
  width: clamp(50px, 1rem, 200px);
  transition: all(1000ms);
  cursor: pointer;
  animation: buttons 1s;
  -webkit-tap-highlight-color: transparent;
}
button:hover {
  transform: scale(1.1);
  
}

span {
  font-weight: lighter;
  text-align: center;
  margin-top: 0.5rem;
}

p {
  line-height: 1.8;
}
.show {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  transition: 1s;
}
.hide {
  display: none;
  transition: 1s;
}
.bodyGame {
  display: grid;
  grid-row-gap: 10rem;
  grid-template-columns: 4;
  border-radius: 10px;
  width: clamp(100%, 35%, 60%);
  min-width: auto;
  height: 100vh;

}
.grid-item1 {
  width: clamp(70%, 20%, 70%);
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: transparent;
  border-radius: 10px;
  padding: 1rem .5rem;
  margin: auto;
  outline: none;
  border-width: 0;
  height: 10rem;
  transition: all(2s);
  

  
}
.grid-item2 {
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}
.grid-item3 {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}
.grid-item4 {
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: center;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}
.user-div span {
  display: block;
}
.computer-div span {
  display: block;
}
.result-div {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  
}

.pc-h1 {
  position: sticky;
}
.user-h1 {
  position: sticky;
}
section {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin: auto;
}


.versus{
  justify-content:space-between;
}

.score-pc {
  border-radius: 10px;
  border: none;
  padding: 3px;
  background-color: white;
  outline: none;
  border-width: 0;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.6);
  width: clamp(110px, 1rem, 200px);
  grid-column-start: 3;
  grid-column-end: 4;
  animation: pc-score 1s;
}
.score-user {
  border-radius: 10px;
  border: none;
  padding: 3px;
  background-color: white;
  outline: none;
  border-width: 0;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.6);
  width: clamp(110px, 1rem, 200px);
  grid-column-start: 1;
  grid-column-end: 2;
  animation: user-score 1s;
  
  
}
.score-pc,
.score-user,
span {
  display: block;
  font-size: medium;
  font-weight: lighter;
  margin: auto;
}
.score-pc,
.score-user,
h1 {
  margin: auto;
  font-size: medium;
  text-align: center;
}

.vs{
  display: none;
}

