@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
img {
  max-width: 70px;
  max-height: 80px;
}
input,
button {
  font-family: inherit;
  border-radius: 10px;
  border: none;
  padding: 0.5em;
  background-color: white;
  outline: none;
  border-width: 0;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.6);
  width: clamp(50px, 1rem, 200px);
  transition: 1ms;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
button:hover {
  transform: scale(1.1);
}
span {
  font-weight: lighter;
  text-align: center;
  margin-top: 0.5rem;
}

p {
  line-height: 1.8;
}
.show {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.hide {
  display: none;
}
.bodyGame {
  display: grid;
  grid-row-gap: 5rem;
  grid-template-columns: 4;
  padding: 5%;
  border-radius: 10px;
  width: clamp(100%, 35%, 60%);
  max-width: 75%;
  min-width: auto;
}
.grid-item1 {
  width: clamp(100%, 20%, 70%);
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  margin: auto;
  outline: none;
  border-width: 0;
  box-shadow: 0px 0px 12px 0.05px rgba(0, 0, 0, 0.473);
}
.grid-item2 {
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
  justify-content: space-evenly;
}
.grid-item3 {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
  justify-content: space-evenly;
}
.grid-item4 {
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: center;
  justify-content: space-evenly;
}
.user-div span {
  display: block;
}
.computer-div span {
  display: block;
}
.result-div span {
  display: block;
  text-align: center;
}

.pc-h1 {
  position: sticky;
}
.user-h1 {
  position: sticky;
}
section {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  margin: 0rem clamp(1rem, 1rem, 1rem);
}

div,
.versus {
  margin: auto;
  text-align: center;
}
.score-pc {
  border-radius: 10px;
  border: none;
  padding: 0.5em;
  background-color: white;
  outline: none;
  border-width: 0;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.6);
  width: clamp(110px, 1rem, 200px);
  grid-column-start: 3;
  grid-column-end: 4;
}
.score-user {
  border-radius: 10px;
  border: none;
  padding: 0.5em;
  background-color: white;
  outline: none;
  border-width: 0;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.6);
  width: clamp(110px, 1rem, 200px);
  grid-column-start: 1;
  grid-column-end: 2;
}
.score-pc,
.score-user,
span {
  display: block;
  font-size: medium;
}
.score-pc,
.score-user,
h1 {
  display: block;
  font-size: large;
}
